---
layout: default
---
<div class="jumbotron">
    <h1 class="display-4">Welcome to the eQTLGen consortium</h1>
    <p class="lead">The aim of the eQTLGen consortium is to investigate the genetic architecture of
        blood gene expression and to understand the genetic underpinnings of complex traits.
        The bulk eQTLGen project is currently in its second phase, which is focused on a large-scale <i>genome-wide</i> meta-analysis in blood.
        {% if site.url == "https://eqtlgen.org" %}
        <a href="https://eqtlgen.github.io/eqtlgen-web-site/eQTLGen-p2-cookbook.html">The cookbook for this second phase analysis can be found here</a>.
        {% else %}
        <a href="eQTLGen-p2-cookbook.html">The cookbook for this second phase analysis can be found here</a>.
        {% endif %}
        We are also working on a single-cell version of this consortium, called
        {% if site.url == "https://eqtlgen.org" %}
        <a href="../sc">Single-Cell eQTLGen</a>.
        {% else %}
        <a href="https://eqtlgen.org/sc">Single-Cell eQTLGen</a>.
        {% endif %}
    </p>
</div>
    <div class="card-deck">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ "figs/eQTLGenLogo_margin.png" | relative_url }}" class="img-fluid" alt="eQTLGen logo">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">eQTLGen phase I</h5>
                        <p class="card-text">Go here to see publications and resources produced in the first installment of the eQTLGen project.</p>
                        {% if site.url == "https://eqtlgen.org" %}
                        <a href="phase1.html" class="stretched-link">Phase I website</a>
                        {% else %}
                        <a href="https://eqtlgen.org/phase1.html" class="stretched-link">Phase I website</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ "figs/scEQTLGenLogo_margin.png" | relative_url }}" class="img-fluid" alt="sc-eQTLGen logo">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Single-cell eQTLGen</h5>
                        <p class="card-text">Head to here to see publications and resources produced in the single-cell flavour of the eQTLGen project.</p>
                        {% if site.url == "https://eqtlgen.org" %}
                        <a class="stretched-link" href="../sc">Single-cell website</a>
                        {% else %}
                        <a href="https://eqtlgen.org/sc" class="stretched-link">Single-cell website</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

</div>
<hr class="featurette-divider">
{{ content }}

